
@import url('https://fonts.cdnfonts.com/css/hm');
*{
    font-family: 'H&m', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* ||VARIABLES */

:root{
    --RED:#e50010;
}

h2{
    font-size: 42px;
    line-height: 48px;
    font-weight: 400;
}
p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

main{
    margin-left: auto;
    margin-right: auto;
   
}


/* |HEADER-1 */
.header-1{
    display: flex;
width: 100%;
justify-content: space-between;
padding:16px 32px 16px 32px;
}
.text-1{
   align-content: center;
    font-size: small;
    display: flex;
}
.three-dots{
    display: flex;
    align-items: center;
    margin-left: 21px;
}
.three-dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
   border: solid 1px #000;
   margin-left: 3px;
}

.three-dots ul{
list-style: none;
display: flex;
}

.text-1-ul{
    display: flex;

    align-items: center;
    list-style: none;
    column-gap: 21px;
    height: 67px;
   
}

.text-2{
    display: flex;
    flex-wrap: wrap;
    align-content: end;
    padding-bottom: 3px;
   
}
.logo{
    width: 60px;
}
.text-3{
    align-self: center;
}
.text-3 ul{ 
list-style: none;
display: flex;
gap:5px

}
.text-3 ul li p{
align-self: center;
font-size: 13px;
column-gap: 3px;
}
.icons-text{
    display: flex;
}

/* | HEADER-2 */
.header-2{
    display: grid;
    grid-template-columns: 3fr 1fr;
margin-top: 30px;
}
.header-2 div ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    column-gap: 11px;
    margin-right: 25px;
}
.header-2 div ul li{
padding: 0 9px 0 9px;
}
input  {
    border: none; 
    outline: none;
}

.search{
    display: flex;
    justify-self: flex-end;
}
.border-bott{
display: flex;
    border-bottom: 2px solid #000;
    margin-right: 40px;
  
}

/* || MAIN */


.pop-note{
position: absolute;
 text-align: center;
  padding: 10px; 
  background-color: #222;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: start;
}
.pop-note div p{
    display: flex;
    font-size: large;
}

.text-image{
    position: absolute;
    bottom: 20%;
    padding: 6px;
}
.col-w{
    color: white;
}
.image-1{
background-color:#f1ebdf;
width: 960px;
height: 639px;

margin-top: 40px;
}
.sec-1{
  position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.S1-P1{
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #222;
    margin-top: 171px;
}
.S1-P2{
    color: #e50010;
    font-size: 72px;
    line-height: 82px;
    text-align: center;
    font-family:  sans-serif ;
    font-weight: bold;
}
.S1-P3{
    font-size: 20px;
    color: #222;
    line-height: 24px;
    text-align: center;
    font-weight: 500;

}
.S1-P4{
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
    padding: 15px;
}
.sec-1-butt-ul{
    margin-top: 90px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    column-gap: 5px;
    padding: 35px;
}
.butt
{
   display: block;
   padding: 8px;
   background-color: #fff;
   color: #222;
   font-weight: 600;
   border-radius: 2px;

}
.butt:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}
.sec-1-bottom{
    padding-top: 26px;
    position: relative;
}

.sec-1-bottomtext{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 30px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #222;
}
.sec-1-bottomtext li{
    align-items: center;
    padding: 8px;
}

/* || SECTION*/
.sec-2{
    position: relative;
 display: flex;
 justify-content: center;
 margin-top: 24px;
}
.image{
    background-position: center;
    background-size: cover;
    width: 960px;
    height: 639px;

}
.image-2{
position: relative;
background-image: url("./images/sec-2-img.avif");

}
.pop-note-1{
    top: 35%;
    left: 67%;
}
.arrow-image-2{
    position: absolute;
    top: 36%;
    left: 64.2%;

}
.sec2-text{
    position: absolute;
   display: flex;
   flex-direction: column;
    top: 67%;

}
.S2-P1{
    font-size: 15px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
}
.S2-P2{
    font-size: 42px;
    text-align: center;
    line-height: 48px;
    color: #fff;
    font-weight: 400;
    font-weight: bold;
}
.S2-P3{
    font-size: 14px;
    text-align: center;
    line-height: 17px;
    color: #fff;
    font-weight: 400;
}
.sec-2-butt-ul{
position: absolute;
top: 86.5%;
}


.newarrivals{
 
    font-size: 29px;
    line-height: 24px;
   
}
.middle-text{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 960px;
    padding-top: 24px;
}



.sec-3{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    max-width: 960px;
    
}
.sec-3-width{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 960px;
}
 .sec-3-button{
   margin-top: 20px;
   margin-left: 27px;
 }
 .sec-3-button ul{
    display: flex;
    column-gap: 25px;
 }
 .sec-3-button ul :first-child{
background-color: var(--RED);
border-color: var(--RED);
color: #fff;
 }

.button{

    font-size: 16px;
    line-height: 16px;
    padding: 11px 14px;  
    background-color:#faf9f8;
    color: #222;
    list-style: none;
    font-weight: 500;
    border-radius: 23px;
    border: solid 2px #222
    
}
.button:hover{
    background-color: var(--RED);
    cursor: pointer;
    color: #e6e6e6;
    border: solid 2px var(--RED) ;
    font-weight: 500;

}
.sec-3-images{
    display: flex;
     justify-content: center;
     margin-right: 9px;

}
.sec-3-imagediv{

    margin: 30px 11px;
}
.sec-3-image{
 width: 222px;
 height: auto;
}
.fa-heart{
    position: absolute;
    color: #e6e6e6;
    font-size: 24px;
    z-index: 2;
}
 

.white:hover{
    color: var(--RED);
}
.favorite{
    position: relative;
    top: 79%;
    right: 16%;
}
.favorite-black{
    position: relative;
    top:  78.4%;
    right: 17.4%;
}
.black-icon{
    z-index: 1;
color: #000;
font-size: 30px;
}
a{
    text-decoration: none;
    color: #222;
    background-color: #faf9f8;
    font-size: 13px;
    line-height: 16px;
    text-align: left;
}
a:hover{
    text-decoration: underline;

}
.dots{
    margin-top: 8px;
}
.dots ul{
    display: flex;
    list-style: none;
    justify-content: center;
    column-gap: 8px;
}
.red{
    background-color: var(--RED);
    border-color: var(--RED);
}
.dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
   border: solid 1px #000;
}
.dot:hover{
   border-color: var(--RED);
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' -25,
  'opsz' 48
}
.arrowfr{
    position: relative;
    top: 50%;
    left: 33%;
    cursor: pointer;
}
.arrowbk{
    position: relative;
    top: 50%;
    right: 33%;
    cursor: pointer;
}


/* ||section 4 */
.sec-4{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 960px;
}
.image-4{
    margin-top: 25px;
    background-image: url("./images/sec-4-image.avif");
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.sec-4-text{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 107px;
}
.S4-P2{
    font-size: 42px;
    text-align: center;
    line-height: 48px;
    color: #fff;
    font-weight: 400;
    font-weight: bold;

}
.S4-P3{
      padding-top: 12px;
    font-size: 14px;
    text-align: center;
    line-height: 17px;
    color: #fff;
    font-weight: 400;
}


/* ||section5 */
.sec-5{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 960px;
}
.image-5{
    position: relative;
    background-image: url("./images/sec-5-image.avif");
    
    margin-top: 24px;
}
.pop-note-2{
    top: 27%;
    left: 33%;
}
.arrow-image-5{
    position: relative;
    transform: rotate(270deg);
    top: 34%;
    left: 40%;
}
.sec-5-text{
    position: relative;
    display: flex;
    top: 62%;
    flex-direction: column;

}
.sec-5-butt-ul{
    position: absolute;
    bottom: 5%;
    left: 43%;
}
/* ||SECTION */
.sec-6{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 960px;
    margin-top: 24px;
}
.image-6{
    background-image: url("./images/sec-6-image.jpg");
    position: relative;
    background-position: center;
    background-size: cover;
    width: 960px;
    height: 132px;
}
.S6-P1{
 font-size: 15px;   
 line-height: 19px;
 font-weight: 700;
 color: rgb(255, 255, 255);
}
.S6-P2{
    margin-top: 5px;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
}
.sec-6-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.sec-6-butt-ul{
    padding: 9px;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 110px;
    column-gap: 10px;
    font-weight: 700;
}
/* ||section 7 */
.sec-7{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 960px;
    margin-top: 24px;
}

.image-7{
    background-image: url("./images/sec-7-image.avif");
    position: relative;

}
.S7-P1{
    margin-top:9px;
    font-size: 42px;
    text-align: center;
    line-height: 48px;
    color: #fff;
    font-weight: 400;
    font-weight: bold;
}
.pop-note-3{
    top: 44%;
    left: 31%;
}
.arrow-image-7{
    position: relative;
    transform: rotate(270deg);
    top: 51%;
    left: 34%;
}
.sec-7-butt{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 48%;
}
.sec-7-butt-ul{
    padding: 9px;
    position: absolute;
    display: flex;
    margin-top: 110px;
    column-gap: 10px;
    font-weight: 700;
}



.Recently-viewed{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 24px;
    color: #222;
    font-weight: 500;
    max-width: 960px;
    margin-top: 24px;
    padding-left: 48px;
}

/* ||section-8 */
.sec-8{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 960px;
    margin-top: 24px;
}
.image-8{
    background-image: url("./images/sec-8-image.avif");
    position: relative;
}
.pop-note-4{
    top: 12%;
    left: 49%;

}
.arrow-image-8{
    position: relative;
    transform: rotate(270deg);
    top: 19%;
    left: 57%;
}
.sec-8-text{
    display: flex;
    flex-direction: column;
    top: 64%;
    position: relative;
    text-align: center;
}
.S8-P1{
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    color: #fff;
}
.S8-P2{
    font-size: 42px;
    line-height: 48px;
    font-weight: 600;
    color: #fff;
}
.sec-8-butt-ul{
    position: absolute;
    top: 87%;
    left: 45%;
}


/* ||footer */
footer{
    width: 100%;
    padding: 64px 32px;
    background-color: #e4e4e4;
    margin-top: 24px;

}
.top-text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 92px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
   
}
.foot-text-1 ul{
 list-style: none;
}
.foot-text-1 ul li{
    padding-top: 4px;
}
.foot-text-2 ul{
 list-style: none;
}
.foot-text-2 ul li{
    padding-top: 4px;
}
.foot-text-3 ul{
 list-style: none;
}
.foot-text-3 ul li{
    padding-top: 4px;
}
.foot-text-4 ul{
 list-style: none;
}
.foot-text-4 ul li{
    padding-top: 4px;
}
.foot-a{
    background-color: #e4e4e4;
}
.F-P1{
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #222;
}
.foot-icons ul{
list-style: none;
display: flex;
column-gap: 30px;
}
.foot-icons{
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
}
.F-P2{
    text-align: center;
    font-size: 11px;
    line-height:16px;
    padding: 10px
}
.foot-logo{
    width: 39px;
    height: auto;
}
.logo-div{
    text-align: center;
    margin-top: 16px;
}
.F-P3{
    text-align: center;
    color: #222;
    font-size: 18px;
    line-height: 16px;
    font-weight: 500;
    height: 48px;
    margin-top: 20px;
    padding-bottom: 38px;
    padding-top:10px ;
}
.fa-brands{
    font-size: 19px;
}
.F-P4{

}
.arrowfooter{
    top: 6%;
}